<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input
    id="name"
    name="business[name]"
    class="form-control"
    type="text"
    value="<%- business.name %>"
    required
  />
</div>
<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <!-- prettier-ignore -->
  <textarea
    id="description"
    name="business[description]"
    class="form-control"
    type="text"
    required
    rows="5"
  ><%- business.description %></textarea>
</div>
<div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <input
    id="category"
    name="business[category]"
    class="form-control"
    type="text"
    value="<%- business.category %>"
    required
  />
</div>
<div class="mb-3">
  <label for="address" class="form-label">Address</label>
  <input
    id="address"
    name="business[address]"
    class="form-control"
    type="text"
    value="<%- business.address %>"
    required
  />
</div>
<div class="mb-3">
  <label for="city" class="form-label">City</label>
  <input
    id="city"
    name="business[city]"
    class="form-control"
    type="text"
    value="<%- business.city %>"
    required
  />
</div>
<div class="mb-3">
  <label for="state" class="form-label">State</label>
  <input
    id="state"
    name="business[state]"
    class="form-control"
    type="text"
    value="<%- business.state %>"
    required
  />
</div>
<div class="mb-3">
  <label for="zip" class="form-label">Zip Code</label>
  <input
    id="zip"
    name="business[zip]"
    class="form-control"
    type="text"
    value="<%- business.zip %>"
    required
  />
</div>
<div class="mb-3">
  <label for="phone" class="form-label">Phone</label>
  <input
    id="phone"
    name="business[phone]"
    class="form-control"
    type="tel"
    value="<%- business.phone %>"
    required
  />
</div>
<div class="mb-3">
  <label for="website" class="form-label">Website</label>
  <input
    id="website"
    name="business[website]"
    class="form-control"
    type="url"
    value="<%- business.website %>"
    required
  />
</div>
<div class="mb-3">
  <label for="image" class="form-label">Image URL</label>
  <input
    id="image"
    name="business[image]"
    class="form-control"
    type="url"
    value="<%- business.image %>"
    required
  />
</div>
