<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card mb-3">
      <img
        src="<%- business.image %>"
        alt="<%- business.name %> image"
        class="card-img-top img-fluid"
      />
      <div class="card-body">
        <h5 class="card-title"><%= business.name %></h5>
        <p class="card-text"><%= business.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: <%= business.category %></li>
        <li class="list-group-item">Address: <%= business.address %></li>
        <li class="list-group-item">City: <%= business.city %></li>
        <li class="list-group-item">State: <%= business.state %></li>
        <li class="list-group-item">Zip Code: <%= business.zip %></li>
        <li class="list-group-item">Phone: <%= business.phone %></li>
        <li class="list-group-item">
          Website:
          <a href="<%= business.website %>" target="_blank">
            <%= business.website %>
          </a>
        </li>
      </ul>
      <div class="card-body">
        <a href="/biz-edit/<%- business._id %>" class="btn btn-success">
          Edit Business
        </a>
        <form
          action="/biz/<%- business._id %>?_method=DELETE"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger ms-1">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <p>Created at <%= business.createdAt %></p>
        <p>Updated at <%= business.updatedAt %></p>
      </div>
    </div>
    <div>
      <a href="/biz">Back to Businesses</a>
    </div>
  </div>
</div>
