<% layout('layout/boilerplate.ejs') %>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/biz">Business</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <%- business.name %>
      </li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img
        src="<%- business.image %>"
        alt="<%- business.name %> image"
        class="card-img-top img-fluid"
      />
      <div class="card-body">
        <h5 class="card-title"><%= business.name %></h5>
        <p class="card-text"><%= business.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: <%= business.category %></li>
        <li class="list-group-item">Address: <%= business.address %></li>
        <li class="list-group-item">City: <%= business.city %></li>
        <li class="list-group-item">State: <%= business.state %></li>
        <li class="list-group-item">Zip Code: <%= business.zip %></li>
        <li class="list-group-item">Phone: <%= business.phone %></li>
        <li class="list-group-item">
          Website:
          <a href="<%= business.website %>" target="_blank">
            <%= business.website %>
          </a>
        </li>
      </ul>
      <div class="card-body">
        <a href="/biz-edit/<%- business._id %>" class="btn btn-primary">
          Edit Business
        </a>
        <form
          action="/biz/<%- business._id %>?_method=DELETE"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger ms-1">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <p>Created at <%= business.createdAt %></p>
        <p>Updated at <%= business.updatedAt %></p>
      </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  <div class="col-6">
    <h2>Leave a Review</h2>
    <form
      action="/biz/<%- business._id %>/reviews"
      method="post"
      class="mb-3 needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="review-rating" class="form-label">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          id="review-rating"
          min="1"
          max="5"
          value="5"
        />
      </div>
      <div class="mb-3">
        <label for="review-comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="review-comment"
          cols="50"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add Review</button>
    </form>
    <% if (reviews?.length > 0) { %>
      <h2>Reviews</h2>
      <% for (let review of reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><p>Rating: <%= review.rating %></p></h5>
            <p class="card-text"><%= review.comment %></p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
