<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input
    id="name"
    name="company[name]"
    class="form-control"
    type="text"
    value="<%- company.name %>"
    required
  />
</div>
<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <!-- prettier-ignore -->
  <textarea
    id="description"
    name="company[description]"
    class="form-control"
    type="text"
    required
    rows="5"
  ><%- company.description %></textarea>
</div>
<div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <input
    id="category"
    name="company[category]"
    class="form-control"
    type="text"
    value="<%- company.category %>"
    required
  />
</div>
<div class="mb-3">
  <label for="address" class="form-label">Address</label>
  <input
    id="address"
    name="company[address]"
    class="form-control"
    type="text"
    value="<%- company.address %>"
    required
  />
</div>
<div class="mb-3">
  <label for="city" class="form-label">City</label>
  <input
    id="city"
    name="company[city]"
    class="form-control"
    type="text"
    value="<%- company.city %>"
    required
  />
</div>
<div class="mb-3">
  <label for="state" class="form-label">State</label>
  <input
    id="state"
    name="company[state]"
    class="form-control"
    type="text"
    value="<%- company.state %>"
    required
  />
</div>
<div class="mb-3">
  <label for="zip" class="form-label">Zip Code</label>
  <input
    id="zip"
    name="company[zip]"
    class="form-control"
    type="text"
    value="<%- company.zip %>"
    required
  />
</div>
<div class="mb-3">
  <label for="phone" class="form-label">Phone</label>
  <input
    id="phone"
    name="company[phone]"
    class="form-control"
    type="tel"
    value="<%- company.phone %>"
    required
  />
</div>
<div class="mb-3">
  <label for="website" class="form-label">Website</label>
  <input
    id="website"
    name="company[website]"
    class="form-control"
    type="url"
    value="<%- company.website %>"
    required
  />
</div>
<div class="mb-3">
  <label for="image" class="form-label">Image URL</label>
  <input
    id="image"
    name="company[image]"
    class="form-control"
    type="url"
    value="<%- company.image %>"
    required
  />
</div>
