<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Company - <%- company.name %></title>
  </head>
  <body>
    <main>
      <h1>Edit Company - <%- company.name %></h1>
      <form action="/companies/<%- company._id %>?_method=PATCH" method="post">
        <div>
          <label for="name">Name</label>
          <input
            id="name"
            name="company[name]"
            type="text"
            value="<%- company.name %>"
          />
        </div>
        <div>
          <label for="description">Description</label>
          <input
            id="description"
            name="company[description]"
            type="text"
            value="<%- company.description %>"
          />
        </div>
        <div>
          <label for="category">Category</label>
          <input
            id="category"
            name="company[category]"
            type="text"
            value="<%- company.category %>"
          />
        </div>
        <div>
          <label for="address">Address</label>
          <input
            id="address"
            name="company[address]"
            type="text"
            value="<%- company.address %>"
          />
        </div>
        <div>
          <label for="city">City</label>
          <input
            id="city"
            name="company[city]"
            type="text"
            value="<%- company.city %>"
          />
        </div>
        <div>
          <label for="state">State</label>
          <input
            id="state"
            name="company[state]"
            type="text"
            value="<%- company.state %>"
          />
        </div>
        <div>
          <label for="zip">Zip Code</label>
          <input
            id="zip"
            name="company[zip]"
            type="text"
            value="<%- company.zip %>"
          />
        </div>
        <div>
          <label for="phone">Phone</label>
          <input
            id="phone"
            name="company[phone]"
            type="tel"
            value="<%- company.phone %>"
          />
        </div>
        <div>
          <label for="website">Website</label>
          <input
            id="website"
            name="company[website]"
            type="url"
            value="<%- company.website %>"
          />
        </div>
        <div>
          <button type="submit">Update Company</button>
        </div>
      </form>
    </main>
    <footer>
      <a href="/companies">Back to Companies</a>
    </footer>
  </body>
</html>
