<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company - <%= company.name %></title>
  </head>
  <body>
    <main>
      <h1><%= company.name %></h1>
      <h3><%= company.description %></h3>
      <p><%= company.category %></p>
      <p><%= company.address %></p>
      <p><%= company.city %></p>
      <p><%= company.state %></p>
      <p><%= company.zip %></p>
      <p><%= company.phone %></p>
      <p><%= company.website %></p>
      <p><%= company.createdAt %></p>
      <p><%= company.updatedAt %></p>
    </main>
    <footer>
      <p>
        <a href="/companies/<%- company._id %>/edit">Edit</a>
      </p>
      <p>
        <form action="/companies/<%- company._id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
        </form>
      </p>
      <p>
        <a href="/companies">Back to Companies</a>
      </p>
    </footer>
  </body>
</html>
