<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card mb-3">
      <img
        src="<%- company.image %>"
        alt="<%- company.name %> image"
        class="card-img-top img-fluid"
      />
      <div class="card-body">
        <h5 class="card-title"><%= company.name %></h5>
        <p class="card-text"><%= company.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: <%= company.category %></li>
        <li class="list-group-item">Address: <%= company.address %></li>
        <li class="list-group-item">City: <%= company.city %></li>
        <li class="list-group-item">State: <%= company.state %></li>
        <li class="list-group-item">Zip Code: <%= company.zip %></li>
        <li class="list-group-item">Phone: <%= company.phone %></li>
        <li class="list-group-item">
          Website:
          <a href="<%= company.website %>" target="_blank">
            <%= company.website %>
          </a>
        </li>
      </ul>
      <div class="card-body">
        <a href="/companies/<%- company._id %>/edit" class="btn btn-success">
          Edit Company
        </a>
        <form
          action="/companies/<%- company._id %>?_method=DELETE"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger ms-1">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <p>Created at <%= company.createdAt %></p>
        <p>Updated at <%= company.updatedAt %></p>
      </div>
    </div>
    <div>
      <a href="/companies">Back to Companies</a>
    </div>
  </div>
</div>
