<% layout('layouts/boilerplate.ejs') %>
<main>
  <img src="<%- company.image %>" alt="<%- company.name %> image" />
  <h1><%= company.name %></h1>
  <h3><%= company.description %></h3>
  <p><%= company.category %></p>
  <p><%= company.address %></p>
  <p><%= company.city %></p>
  <p><%= company.state %></p>
  <p><%= company.zip %></p>
  <p><%= company.phone %></p>
  <p><%= company.website %></p>
  <p><%= company.createdAt %></p>
  <p><%= company.updatedAt %></p>
</main>
<footer>
  <div>
    <a href="/companies/<%- company._id %>/edit">Edit</a>
  </div>
  <div>
    <form action="/companies/<%- company._id %>?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
  <div>
    <a href="/companies">Back to Companies</a>
  </div>
</footer>
